
/* Skills Section */

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
    div {
      padding: 0.2rem;
      transition: opacity 0.5s;
    }
  
    div[skill-type="language"] {
      color: #e84a5f;
    }
  
    div[skill-type="framework"] {
      color: #ff847c;
    }
  
    div[skill-type="tool"] {
      color: #fecea8;
    }
  
    div[skill-weight="1"] {
      font-size: 0.75rem;
      line-height: 0.25rem;
    }
  
    div[skill-weight="2"] {
      font-size: 1.25rem;
      line-height: 0.75rem;
    }
  
    div[skill-weight="3"] {
      font-size: 1.75rem;
      line-height: 1.25rem;
    }
  
    div[skill-weight="4"] {
      font-size: 2.25rem;
      line-height: 1.75rem;
    }
  
    div[skill-weight="5"] {
      font-size: 2.75rem;
      line-height: 2.25rem;
    }
  
    input[type="radio"] {
      display: none;
    }
  
    .filter-button {
      display: none;
    }
  }