/* Preloader */
 #preloader {
  align-items: center;
  background: $bg-color;
  display: flex;
  height: 100%; 
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 999;

  .loader {
    display: block;
    height: 7rem;
    width: 7rem;

    span {
      width: 3rem;
      height: 3rem;
      display: inline-block;
      background-color: $text-color;

      &:nth-child(1) {
        animation: squareDance_1 2s infinite ease-in-out;
      }

      &:nth-child(2) {
        left: 20px;
        animation: squareDance_2 2s infinite ease-in-out;
      }

      &:nth-child(3) {
        top: 0px;
        animation: squareDance_3 2s infinite ease-in-out;
      }

      &:nth-child(4) {
        top: 0px;
        left: 20px;
        animation: squareDance_4 2s infinite ease-in-out;
      }

      @keyframes squareDance_1 {
        0% {
          transform: translateX(0px) translateY(0px) rotate(0deg);
          border-radius: 0px;
        }
        50% {
          transform: translateX(-25px) translateY(-25px) rotate(-180deg);
          border-radius: 50%;
          background: $primary-color;
        }
        80% {
          transform: translateX(0px) translateY(0px) rotate(-360deg);
          border-radius: 0px;
        }
        100% {
          transform: translateX(0px) translateY(0px) rotate(-360deg);
          border-radius: 0px;
        }
      }

      @keyframes squareDance_2 {
        0% {
          transform: translateX(0px) translateY(0px) rotate(0deg);
          border-radius: 0px;
        }
        50% {
          transform: translateX(25px) translateY(-25px) rotate(180deg);
          border-radius: 50%;
          background: $secondary-color;
        }
        80% {
          transform: translateX(0px) translateY(0px) rotate(360deg);
          border-radius: 0px;
        }
        100% {
          transform: translateX(0px) translateY(0px) rotate(360deg);
          border-radius: 0px;
        }
      }

      @keyframes squareDance_3 {
        0% {
          transform: translateX(0px) translateY(0px) rotate(0deg);
          border-radius: 0px;
        }
        50% {
          transform: translateX(-25px) translateY(25px) rotate(-180deg);
          border-radius: 50%;
          background: $third-color;
        }
        80% {
          transform: translateX(0px) translateY(0px) rotate(-360deg);
          border-radius: 0px;
        }
        100% {
          transform: translateX(0px) translateY(0px) rotate(-360deg);
          border-radius: 0px;
        }
      }

      @keyframes squareDance_4 {
        0% {
          transform: translateX(0px) translateY(0px) rotate(0deg);
          border-radius: 0px;
        }
        50% {
          transform: translateX(25px) translateY(25px) rotate(180deg);
          border-radius: 50%;
          background: $fourth-color;
        }
        80% {
          transform: translateX(0px) translateY(0px) rotate(360deg);
          border-radius: 0px;
        }
        100% {
          transform: translateX(0px) translateY(0px) rotate(360deg);
          border-radius: 0px;
        }
      }
    }
  }
}

  